.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  color: grey;
  border: none;
  box-shadow: var(--elementShadow);
  border-radius: var(--elementCurve);
}

.Button:hover {
  transition: all 300ms ease-in;
  color: white;
  background-color: grey;
  box-shadow: inset 0px 1px 5px rgb(25, 25, 25);
}
