@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
/* Debug later text overflow */

.NoteText {
  display: flex;
  height: 100%;
}

.NoteText textarea {
  color: rgb(224, 29, 29);
  font-family: "Caveat", cursive;
  font-size: larger;
  background-color: transparent;
  border: none;
  outline: none;
  overflow: scroll;
  width: 97%;
  height: 94%;
  margin: 1px;
  resize: none;
  overflow-x: hidden;
}

.NoteText textarea::-webkit-scrollbar {
  position: absolute;
  width: 10px;
}

.NoteText textarea::-webkit-scrollbar-thumb {
  border-radius: var(--elementCurve);
  background-color: rgb(255, 255, 255);
}
