.FormContainer {
  display: grid;
  justify-items: center;
  height: 40vh;
  width: 21.25vw;
  grid-template-rows: 1fr 5vh;
  gap: 3vh;
  padding: 10px;
  background-color: aliceblue;
  box-shadow: var(--elementShadow);
  border-radius: var(--elementCurve);
}
