.TextArea {
  width: 100%;
  border: black solid 1px;
  background-image: url("../../../resources/ScreenTexture.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--elementCurve);
}

textarea {
  display: flex;
  background-color: transparent;
}

input {
  border: none;
  font-weight: bold;
  background-color: transparent;
}

textarea,
input {
  color: #757575;
  border: none;
  margin: 0 2px;
  width: 90%;
  outline: none;
}

textarea:hover,
input:hover {
  cursor: pointer;
}
