.Note {
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 30vh;
  width: 17.84vw;
  padding: 1px;
  background-image: url(../../../resources/PostItTexture.jpg);
  box-shadow: var(--elementShadow);
  border-radius: var(--elementCurve);
}

.modalClickableArea {
  height: 100%;
}
