@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
/* Debug later text overflow */

.NoteTitle {
  color: rgb(224, 29, 29);
  font-family: "Caveat", cursive;
  margin: 0 1px;
  width: 100%;
}
